/* ============================================= */
/*              Navigation                       */
/* ============================================= */

.nav {
  @include flexy-column($basis: 100%, $disp: flex, $flex-d: column);
  padding-left: 0;
}

.nav-link {
  @include btn-nav(5px, block, 100%);
  text-align: center;
  padding: 10px 0;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.nav-link:hover {
  color: $white-color;
  background-color: $primary-color;
}
